<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bonc.dw3.mapper.TbuserMapper">




    <!--根据用户查找他的roleid-->
    <select id="selectRoleByUserId" parameterType="String" resultType="String">
        select roleid from tfw_user where id=#{userId}
    </select>
    <!--根据roleList查找用户的大部分的menuId-->
    <select id="selectMostMenu" resultType="String">
        select menuid
        from TFW_RELATION
        where roleid in
        <foreach collection="roleList" open="(" close=")" item="role" separator=",">
            #{role}
        </foreach>
    </select>

    <select id="selectAllMenu" resultType="hashMap">
        select id  "id",
        code   "code",
        pcode  "pcode",
        name   "name",
        icon   "icon",
        url    "url",
        alias   "alias",
        to_char(levels,'9') "levels"
        from tfw_menu
        where id in
        <foreach collection="menuList" open="(" close=")" item="menuId" separator=",">
            #{menuId}
        </foreach>
        and (alias='no' or alias='titleHot') order by levels,pcode,num,code asc
    </select>

    <!--根据userId查询用户的rolein和roleout-->
    <select id="selectRoleInOut" resultType="hashMap">
        select ROLEIN "rolein",ROLEOUT "roleout" from TFW_ROLE_EXT where id=#{userId}
    </select>




</mapper>